In [1]:
import pandas as pd

In [2]:
# Create the DataFrame
student_data = pd.DataFrame({
    'school_code': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6']
)

In [3]:
# Group by both 'school_code' and 'class'
grouped_data = student_data.groupby(['school_code', 'class'])

In [4]:
# Display the groups
for (school_code, class_name), group in grouped_data:
    print(f"\nGroup for school_code = {school_code} and class = {class_name}:")
    print(group)

Group for school_code = s001 and class = V:
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35

    address
S1  street1

Group for school_code = s001 and class = VI:
   school_code class          name date_Of_Birth   age  height  weight  \
S4        s001    VI  Eesha Hinton     25/09/1998   13     167      30

    address
S4  street1

Group for school_code = s002 and class = V:
   school_code class          name date_Of_Birth   age  height  weight  \
S2        s002     V  Gino Mcneill     17/05/2002   12     192      32
S5        s002     V  Gino Mcneill     11/05/2002   14     151      31

    address
S2  street2
S5  street2

Group for school_code = s003 and class = VI:
   school_code class         name date_Of_Birth   age  height  weight  address
S3        s003    VI  Ryan Parkes     16/02/1999   13     186      33  street3

Group for school_code = s004 and class = VI:
   school_code class          name date_Of_Birth   age  height  weight  \
S6        s004    VI  David Parkes     15/09/1997   12     159      32

    address
S6  street4